body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #f6f8fa;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ddd;
}

#content {
    padding: 20px;
    text-align: center;
}

.logo {
  background: left / cover
    url("/mnt/c/Users/tigus/Downloads/Pulley_system_made_from_Lego_by_WoodlandsRobotics.jpg");
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  font:
    bold calc(1em + 2 * (100vw - 120px) / 100) "Dancing Script",
    fantasy;
  color: #ff0083;
  text-shadow: black 2px 2px 0.2rem;
}

[data-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}